body{
  font-size: 17px;
  }
h1.title {
  color: DarkGreen;
}
h1 {
  color: DarkGreen;
}
h2 {
  color: DarkGreen;
}
h3 {
  color: DarkBlue;
}

.regression {
    width: 100% !important;
    font-size: 12px;
    white-space: nowrap;
}

/* th, td {  */
/*    	width: auto !important; */
/* 	border: 1px solid #666 !important; */
/* 	padding: 5px !important;  */
/* 	height: 30px !important; */
/* 	min-width: 50px !important; */
/* } */
